[user_auth_config]
endpoint=https://staging.identity.api.rackspacecloud.com
strategy=rax_auth

[user]
username=qe_files_stg_test_1
api_key=ba94b108b7cefcbcbf7c4d8bd05e3857
#password=
#tenant_id=
#tenant_name=

[objectstorage]
identity_service_name=cloudFiles
region=ORD

[objectstorage_api]
default_content_length=0
base_container_name=qe_cf_container
base_object_name=qe_cf_object
http_headers_per_request_count=90
http_headers_combined_max_len=4096
http_request_line_max_len=8192
http_request_max_content_len=5368709120
containers_name_max_len=256
containers_list_default_count=1000
containers_list_default_max_count=1000
containers_max_count=500000
object_name_max_len=1024
object_max_size=5368709120
object_metadata_max_count=90
object_metadata_combined_byte_len=4096
object_list_default_count=1000
object_list_default_max_count=1000
metadata_name_max_len=128
metadata_value_max_len=256
tempurl_key_cache_time=60
formpost_key_cache_time=60
bulk_delete_max_count=10000
slo_min_segment_size = 1024
slo_max_segment_count = 1000
auth_cache_listener_timeout = 600

[cdn]
identity_service_name=cloudFilesCDN
region=ORD

[cdn_api]
default_ttl = 259200
min_ttl = 900
max_ttl = 1576800000

[objectstorage_api_test_data]
valid_h264_video_filename=objectstorage/video/sintel_clip.mp4
