[OPENCAFE_ENGINE]
config_directory = /home/legionarius/.workspace_envs/opencafe/.opencafe/configs
data_directory = /home/legionarius/.workspace_envs/opencafe/.opencafe/data
log_directory = /home/legionarius/.workspace_envs/opencafe/.opencafe/logs
temp_directory = /home/legionarius/.workspace_envs/opencafe/.opencafe/temp
master_log_file_name = cafe.master
logging_verbosity = STANDARD
default_test_repo = cloudroast

